/* line 1, ../sass/style.scss */
html, body {
  margin: 0;
  padding: 0;
}

/* line 7, ../sass/style.scss */
header .logo {
  float: left;
}
/* line 11, ../sass/style.scss */
header .globalNav {
  float: right;
}

/* line 16, ../sass/style.scss */
.page {
  clear: both;
  position: relative;
  z-index: 10;
  padding: 20px;
  background: #fff;
}

/* line 24, ../sass/style.scss */
.slideinMenu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -240px;
  width: 190px;
  padding: 15px 25px;
  margin: 0;
  list-style: none;
  background: #333;
  z-index: 20;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
@media only screen and (min-width: 768px) {
  /* line 24, ../sass/style.scss */
  .slideinMenu {
    position: static;
    display: block;
    background: none;
    right: 0px;
  }
}

/* line 46, ../sass/style.scss */
.js-menuToggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
@media only screen and (min-width: 768px) {
  /* line 46, ../sass/style.scss */
  .js-menuToggle {
    display: none !important;
  }
}

/* Fix the positioning of the inside close button */
/* line 57, ../sass/style.scss */
.slideinMenu .js-menuToggle {
  position: static;
}

@media only screen and (min-width: 768px) {
  /* line 61, ../sass/style.scss */
  .slideinMenu li {
    display: inline;
  }
}

/* line 67, ../sass/style.scss */
.slideinMenu a {
  display: block;
  color: #fff;
  padding: 15px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
@media only screen and (min-width: 768px) {
  /* line 67, ../sass/style.scss */
  .slideinMenu a {
    display: inline;
    border-bottom: none;
    color: #000;
  }
}

/* Fix animation flicker on mobile */
/* line 81, ../sass/style.scss */
.page,
.slideinMenu {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

/* Animation using CSS transitions */
/* line 89, ../sass/style.scss */
.animating .slideinMenu, .menu-visible .slideinMenu {
  display: block;
}

/* line 92, ../sass/style.scss */
.animating .slideinMenu {
  transition: -webkit-transform .25s ease-in-out;
  transition: all .25s ease-in-out;
}

/* line 96, ../sass/style.scss */
.animating.left .slideinMenu {
  -webkit-transform: translate3d(-240px, 0, 0);
  transform: translate3d(-240px, 0, 0);
}

/* line 100, ../sass/style.scss */
.animating.right .slideinMenu {
  -webkit-transform: translate3d(240px, 0, 0);
  transform: translate3d(240px, 0, 0);
}

/* line 105, ../sass/style.scss */
.menu-visible .slideinMenu {
  right: 0;
}
